{% extends '::base.html.twig' %}


{% block body_content %}

	{% block sidenav %}{% endblock sidenav %}

 	{% block main_container %}{% endblock main_container %}
 	
 	<div class="fixed-action-btn hide">
   	<a class="btn-floating btn-large red">
      	<i class="large material-icons">mode_edit</i>
    	</a>
   </div>


{% endblock body_content %}
