{% if pageCount > 1 %}
<ul class="pagination">

    {% if first is defined and current != first %}
        <li class="first waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                <i class="material-icons">first_page</i>
            </a>
        </li>
    {% endif %}


    {% if previous is defined %}
        <li class="previous waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <a>
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="waves-effect">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="active orange accent-3"><a href="#!">{{ page }}</a></li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="next waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        
        <li class="last waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                <i class="material-icons">last_page</i>
            </a>
        </li>
    
    {% endif %}
</ul>
{% endif %}