<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
		
    <head>
    {% block head %}
        <meta http-equiv="content-type" content="text/html ; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="google" content="notranslate" /> 
        <title>{% block title %}{% endblock title %}</title>
        
        {% block site_metadata %}
            <meta name="description" content="{% trans %}meta_page_description{% endtrans %}">
            <meta name="author" content="root" >
            <meta name="robots" content="index,follow" />
            <link rel="canonical" href="http://www.dvoyd.com" />
        {% endblock site_metadata %}
        
         {% block social_network_metadatas %}
         	<meta property="og:url" content="http://www.dvoyd.com" />
  				<meta property="og:type" content="website" />
  				<meta property="og:title" content="{% trans %}meta_page_description{% endtrans %}" />
  				<meta property="og:description" content="{% trans %}meta_social_description{% endtrans %}" />
  				<meta property="og:image" content="{{ asset('Public/images/logo/logo8.png') }}" />
         {% endblock social_network_metadatas %}

         {% block head_stylesheets %}
         	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" crossorigin>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin>
            <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" crossorigin>
            <link href="https://fonts.googleapis.com/css?family=Raleway:300i" rel="stylesheet" crossorigin>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('Public/css/global.css') }}">
            <link rel="stylesheet" href="{{ asset('Public/css/responsive.css') }}">

         {% endblock head_stylesheets %}
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         {% block icon %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('Public/images/logo/logo2.png') }}" />
         {% endblock icon %}

      <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQ2634C');</script>
<!-- End Google Tag Manager -->
    {% endblock head %}
    </head>

    <body>
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ2634C"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
      
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

 {% block body %}
              
        {% block navbar %}
<header id="dy_hd" class="navbar-fixed hide">  
  <nav id="navbar_top" class="white z-depth-0">
    <div class="container" style="width: 100%;">
       <div class="nav-wrapper white">
            <div id="toolbar" class="row" style="margin-bottom: 0;">
               <a id="menu-btn" href="" data-activates="mobile" class="button-collapse mt10 left black-text">
                  <i class="material-icons">menu</i>
               </a>

               <a href="{{ path('frontend_homepage')}}" class="hide-on-large-only brand-logo mt10 center" style="padding-top:10px;">
                  <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" 
              			xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24.66666667%" 
              			height="10%" viewBox="0 0 987.5 478.571" enable-background="new 0 0 987.5 478.571" xml:space="preserve">
							<polygon fill="#F36F26" points="942.41,349.166 224.084,403.594 237.42,191.005 961.026,131.005 "/>
							<polygon fill="#1072BA" points="916.425,335.912 198.101,390.345 211.435,177.755 935.039,117.755 "/>
							<text transform="matrix(0.8644 -0.0686 0.0791 0.9969 238.0259 347.7231)" fill="#FFFFFF" 
							font-family="'Myriad-Italic'" font-size="115">Les prix.com</text>
							<polygon fill="#F36F26" points="22.981,77.686 12.017,325.003 204.227,310.421 209.354,234.189 779.184,187.007 794.879,13.768 "/>
							<text transform="matrix(0.9191 -0.0842 0.0912 0.9958 39.0483 225.0415)" fill="#1072BA" 
							stroke="#1072BA" stroke-miterlimit="10" font-family="'Myriad-Italic'" font-size="135">Je compare</text>
							<text transform="matrix(1 0 0 1 20.603 450.7261)" fill="#F36F26" 
							font-family="'MVBoli'" font-size="60">Comparez et payez en un clic</text></svg>
               </a>
               <a id="dispose-form" href="#" class="brand-logo mt10 right black-text hide-on-large-only">
                  <i class="material-icons">search</i>
               </a>

               <div class="col l2 m2 offset-m1 s3 no-margin hide-on-med-and-down">  
                  <a href="{{ path('frontend_homepage')}}" class="brand-logo orange-text text-darken-2"> 
                    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" 
              			xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9.66666667%" 
              			height="2%" viewBox="0 0 987.5 478.571" enable-background="new 0 0 987.5 478.571" xml:space="preserve">
							<polygon fill="#F36F26" points="942.41,349.166 224.084,403.594 237.42,191.005 961.026,131.005 "/>
							<polygon fill="#1072BA" points="916.425,335.912 198.101,390.345 211.435,177.755 935.039,117.755 "/>
							<text transform="matrix(0.8644 -0.0686 0.0791 0.9969 238.0259 347.7231)" fill="#FFFFFF" 
							font-family="'Myriad-Italic'" font-size="115">Les prix.com</text>
							<polygon fill="#F36F26" points="22.981,77.686 12.017,325.003 204.227,310.421 209.354,234.189 779.184,187.007 794.879,13.768 "/>
							<text transform="matrix(0.9191 -0.0842 0.0912 0.9958 39.0483 225.0415)" fill="#1072BA" 
							stroke="#1072BA" stroke-miterlimit="10" font-family="'Myriad-Italic'" font-size="135">Je compare</text>
							<text transform="matrix(1 0 0 1 20.603 450.7261)" fill="#F36F26" 
							font-family="'MVBoli'" font-size="60">Comparez et payez en un clic</text></svg>
	         		</a>
               </div>
               
               <form action="{{path('search_query')}}" method="GET" class="col l6 m7 s8 no-margin hide-on-med-and-down" 
               id="dy_sf" role="search">
                  <div id="dy_sfdiv" class="dy_sfbs1 blue-grey lighten-5 row">
                     <div class="dy_sfi col l12 m12 s12 s" id="autocomplete-input">
                        <div id="result_view">
                           <div class="input-field col l11 m10 s10">
                              <input id="dy_search" class="autocomplete"  type="text" name="q" value="" autocomplete="off"  style="padding-left: 0.5rem;">
                           </div>
                           <div class="input-field col l1 m2 s2">
                              <button type="submit" style="border: none; background-color: transparent;text-align: center; width: 100%;">
                                 <span class="blue-text material-icons">search</span>
                              </button>
                           </div>
                        </div>   
                     </div>
                  </div>
               </form>      
            </div>

            <div id="dym_form" class="row hide" style="margin-bottom: 0;">
               <form  class="col m11 s10" action="{{path('search_query')}}" method="GET">
                  <div class="input-field col m12 s12">
                     <input id="search" type="search" name="q" class="autocomplete"  autofocus="autofocus" autocomplete="off" style="border: 0px;">
                     <label class="label-icon" for="search"><i class="orange-text text-darken-2 material-icons">search</i></label>
                  </div>
               </form>
               <a id="btn-dym-close" class="black-text no-padding" href="">
                  <i class="material-icons">close</i>
               </a>
            </div>
         </div> 
    </div> 
  </nav>
</header>


{% endblock navbar %}
        			
{% block body_content %}{% endblock body_content %}

{% endblock body %}

   {% block footer %}
      {% block footer_navbar %}{% endblock footer_navbar %}

      {% block footer_javascripts %}
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
         {% javascripts
            'Public/js/main.js' filter='uglifyjs2' output='assets/js/compiled/main.js'  %}
             <script src="{{ asset_url }}"></script>
         {% endjavascripts %}
      {% endblock footer_javascripts %}
   {% endblock footer %}
   </body>
</html>