{% extends 'AppBundle::dvoyd_layout.html.twig' %}

{% block empty_search %}

	<div class="card" style="position: absolute; top:250px; left: 175px;">
		Vide pour le moment .J'y rajouterai quelques choses plus tard.
	</div>
	
{% endblock empty_search %}
