<footer class="page-footer no-margin">
	<div class="container" style="width:95%;">
		<div class="row">
      	
      </div>
   	<div class="row">
      	<div class="col l9 s12">
            <div class="no-margin">
      			<span class="white-text">Suivez-nous sur : </span> 
         		<a>
            		<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
  							<i class="fa fa-facebook fa-stack-1x black-text"></i>
						</span>
         		</a>
         		<a>
            		<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
  							<i class="fa fa-twitter fa-stack-1x black-text"></i>
						</span>
         		</a>
         		<a>
            		<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
  							<i class="fa fa-instagram fa-stack-1x black-text"></i>
						</span>
         		</a>
         		<a>
         			<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
  							<i class="fa fa-google-plus fa-stack-1x black-text"></i>
						</span>
         		</a>
         	</div>
         </div>
        	<div class="col l3 s12 m8">
    			<ul>
            	<li class="btn z-depth-0 transparent" style="border: 1px solid #e0e0e0 ;">
            		<a href='#' data-activates='user-language' class="dropdown-button white-text">
            			{% image 'Public/images/home_bg.jpg' %}
	            				<img src="{{ asset('Public/images/icon/flag/France_flat.png') }}" alt="home_bg" 
	            				 alt="drapeau français" style="height: 18px;width:18px;" />
	         				{% endimage %} Français <span class="right material-icons">
	         				arrow_drop_down</span>
            		</a>
            		
            		<ul id='user-language' class='dropdown-content'>	
    						<li><a href="/fr" class="black-text"> 
    						<img src="{{ asset('Public/images/icon/flag/France_flat.png') }}" class="circle" 
    						alt="drapeau français" style="height: 18px;width:18px;"/>
    						  Français </a></li>
    						<li><a href="/en" class="black-text">
    							<img src="{{ asset('Public/images/icon/flag/United-Kingdom_flat.png') }}" class="circle" 
    							alt="drapeau anglais" style="height: 18px;width:18px;"/>
    						 English </a></li>
  						</ul>
            	</li>
            </ul>
  			</div>
      </div>
	</div>
   <div class="footer-copyright">
   	<div class="container" style="width:95%;">
   		<div class="row no-padding no-margin">
      		Dvoyd © 2017 Copyright, Tout droit reserv&eacute
      	</div>
      </div>
   </div>
        
</footer>