<header id="dy_header" class="navbar-fixed scrollspy">  
	<nav id="navbar_top" class="white z-depth-0">
		<div class="container" style="width: 100%; height: 69px;">
		   <div class="nav-wrapper white">
  			   <div id="toolbar" class="row" style="margin-bottom: 0;">
               <a id="menu-btn" href="#" data-activates="mobile" class="button-collapse mt10 left black-text">
                  <i class="material-icons">menu</i>
               </a>

               <a href="{{ path('frontend_homepage')}}" 
               class="hide-on-large-only brand-logo mt10 center" style="padding-top:10px;">
                  <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" 
              			xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24.66666667%" 
              			height="10%" viewBox="0 0 987.5 478.571" enable-background="new 0 0 987.5 478.571" xml:space="preserve">
							<polygon fill="#F36F26" points="942.41,349.166 224.084,403.594 237.42,191.005 961.026,131.005 "/>
							<polygon fill="#1072BA" points="916.425,335.912 198.101,390.345 211.435,177.755 935.039,117.755 "/>
							<text transform="matrix(0.8644 -0.0686 0.0791 0.9969 238.0259 347.7231)" fill="#FFFFFF" 
							font-family="'Myriad-Italic'" font-size="115">Les prix.com</text>
							<polygon fill="#F36F26" points="22.981,77.686 12.017,325.003 204.227,310.421 209.354,234.189 779.184,187.007 794.879,13.768 "/>
							<text transform="matrix(0.9191 -0.0842 0.0912 0.9958 39.0483 225.0415)" fill="#1072BA" 
							stroke="#1072BA" stroke-miterlimit="10" font-family="'Myriad-Italic'" font-size="135">Je compare</text>
							<text transform="matrix(1 0 0 1 20.603 450.7261)" fill="#F36F26" 
							font-family="'MVBoli'" font-size="60">Comparez et payez en un clic</text></svg>
               </a>
               <a id="dispose-form" href="#" class="brand-logo mt10 right black-text hide-on-large-only">
                  <i class="material-icons">search</i>
               </a>

               <div class="col l2 m2 offset-m1 s3 no-margin hide-on-med-and-down">  
                  <a href="{{ path('frontend_homepage')}}" class="brand-logo orange-text text-darken-2"> 
                    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" 
              			xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9.66666667%" 
              			height="2%" viewBox="0 0 987.5 478.571" enable-background="new 0 0 987.5 478.571" xml:space="preserve">
							<polygon fill="#F36F26" points="942.41,349.166 224.084,403.594 237.42,191.005 961.026,131.005 "/>
							<polygon fill="#1072BA" points="916.425,335.912 198.101,390.345 211.435,177.755 935.039,117.755 "/>
							<text transform="matrix(0.8644 -0.0686 0.0791 0.9969 238.0259 347.7231)" fill="#FFFFFF" 
							font-family="'Myriad-Italic'" font-size="115">Les prix.com</text>
							<polygon fill="#F36F26" points="22.981,77.686 12.017,325.003 204.227,310.421 209.354,234.189 779.184,187.007 794.879,13.768 "/>
							<text transform="matrix(0.9191 -0.0842 0.0912 0.9958 39.0483 225.0415)" fill="#1072BA" 
							stroke="#1072BA" stroke-miterlimit="10" font-family="'Myriad-Italic'" font-size="135">Je compare</text>
							<text transform="matrix(1 0 0 1 20.603 450.7261)" fill="#F36F26" 
							font-family="'MVBoli'" font-size="60">Comparez et payez en un clic</text></svg>
                  </a>
               </div>

               <form action="{{path('search_query')}}" method="GET" class="col l6 m7 s8 no-margin hide-on-med-and-down" 
               id="dy_sf" role="search">
                  <div id="dy_sfdiv" class="dy_sfbs1 blue-grey lighten-5 row">
                     <div class="dy_sfi col l12 m12 s12 s no-padding">
                        <div id="result_view">
                           <div class="input-field col l11 m10 s10">
                              <input id="dy_search" class="autocomplete"  type="text" name="q" value="{{q}}" autocomplete="off" onsubmit="dataLayer.push({'event': '{{q}}-input-submit'});"
                              onkeyup="dataLayer.push({'event': '{{q}}-input-keyup'});" style="padding-left: 0.5rem;">
                           </div>
                           <div class="input-field col l1 m2 s2">
                              <button type="submit" style="border: none; background-color: transparent;text-align: center; width: 100%;">
                                 <span class="blue-text material-icons">search</span>
                              </button>
                           </div>
                        </div>   
                     </div>
                  </div>
               </form>      
  				</div>

            <div id="dym_form" class="row hide" style="margin-bottom: 0;">
               <form class="col m11 s10" action="{{path('search_query')}}" method="GET">
                  <div class="input-field col col m12 s12">
                     <input id="search" type="search" name="q" class="autocomplete"  autofocus="autofocus" autocomplete="off" value="{{q}}" style="border: 0px;">
                     <label class="label-icon" for="search"><i class="orange-text text-darken-2 material-icons">search</i></label>
                  </div>
               </form>
               <a id="btn-dym-close" class="black-text no-padding" href="#" 
               style="text-align: center;">
                  <i class="material-icons">close</i>
               </a>
            </div>

  		   </div> 
		</div> 
	</nav>
</header>