<div id="dyFS001" class="dyS00X dyS00X--sec  section scrollspy white">
	<div class="container">
		<div class="row">
			<div class="col l12 m12 s12" style="padding-top: 7.5%;">
            <div class="center">
               <div class="blue-text text-darken-3">
                  <h1 class="dyH001--tl">
                  	<span class="dyH001--ln">{% trans %}titre_place_1{% endtrans %}</span>
                  	<span class="dyH001--ln">{% trans %}titre_place_2{% endtrans %}</span>
                  </h1>
               </div>
            </div>

           <div class="form-section col l8 offset-l2 m10 offset-m1 s12">
				<form class="col l12 m12 s12 no-margin">
               <div id="dy_sf" style="margin-left: 0;">
                  <div id="dy_sfdiv" class="dy_sfbs1 row">
                     <div class="dy_sfi col l12 m12 s12 s" style="padding-right: 0;height:47px;">
                           <div class="input-field col l10 m10 s10">
                              <input id="dy_hsearch" class="autocomplete" type="text" value="" autocomplete="off" autofocus="autofocus" 
                              placeholder="{% trans %}form_placeholder{% endtrans %}">
                           </div>
                           <div class="input-field col l2 m2 s2 blue darken-3 brd--blue-darken3 dy_sfbs1">
                              <button type="button">
                                 <span class="material-icons white-text">search</span>
                              </button>
                           </div>   
                     </div>
                  </div>
               </div>
            </form>             
          </div>
            
         </div>
         
		</div>
	</div>
</div>



<div id="dyFS002" class="dyS00X--sec section">
	<div class="container" style="width: 95%">
	
		<div class="row section-cu dy_sfbs1">
			<div class="col l12 m12 s12">
				<div id="dyS004--rw" class="row" style="padding: 25px;">
					<div class="col l5 m5 s12">
						<div class="card-title blue-text text-darken-4 dyS004--tl">
							<h4 style="font-size:2rem;">
								<span> <b> jecomparelesprix.com </b> - {% trans %}titre_place_3{% endtrans %}</span>
							</h4>
							<h5>
								{% trans %}description{% endtrans %} 
							</h5>
							<h6>
								{% trans %}petite_description{% endtrans %} 
							</h6>
							
						</div>
					</div>
					<div class="col l7 m7 s12">
						<div class="row no-margin">
							<div id="dyS004--rw--img" class="col l12 m10 offset-m1 s12 scrollspy">
								{% image 'Public/images/dytablet.png' %}
	            				<img src="{{ asset_url }}" class="responsive-img dyS002--icatg" alt="dvoyd sur tablet" 
	            				style="height:300px;" />
	         				{% endimage %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row white dy_sfbs1">
			<div id="promo-section" class="col l10 offset-l1 m10 offset-m1 s10 offset-s1" style="padding-top:25px;">
				<div class="row">
				
					<div class="col l3 m6  s10">
						<div class="row">
							<div class="center col l12 m12 s12">
								<span class="fa-stack fa-3x">
  									<i class=" blue-text text-darken-4 fa fa-circle fa-stack-2x fa-inverse"></i>
  									<i class="white-text fa fa-search fa-stack-1x black-text"></i>
								</span>
								<p class="promo"><b>Cherchez</b></p>
								<p class="promo-description">
								<b>Tapez votre article ou accessoire</b>.Saisissez votre produit dans la barre de 
								recherche de maniere explicite , par exemple : samsung galaxy s8, mobilier de bureau, sac à main noir,
								 couche pour bebe, etc.
								</p>
							</div>
						</div>
					</div>
						
					<div class="col l3 m6 s10">
						<div class="row">
							<div class="center col l12 m12 s12">
								<span class="fa-stack fa-3x">
  									<i class="orange-text text-darken-2 fa fa-circle fa-stack-2x fa-inverse"></i>
  									<i class="white-text fa fa-filter fa-stack-1x black-text"></i>
								</span>
								<p class="promo"><b>Filtrez</b></p>
								<p class="promo-description">
								<b>Comparez</b> parmi des milliers d'offres des sites marchands.
								Vous pouvez filtrer les resultats en fonction des vos besoins à fin de <b>trouver le produit le moins cher</b>.
								Vous trouverez des filtres concernant les sites marchands, le prix, les categories, etc.
								</p>
							</div>
						</div>
					</div>
						
					<div class="col l3 m6 s10">
						<div class="row">
							<div class="center col l12 m12 s12">
								<span class="fa-stack fa-3x">
  									<i class="purple-text text-lighten-4 fa fa-circle fa-stack-2x fa-inverse"></i>
  									<i class="white-text fa fa-shopping-cart fa-stack-1x black-text"></i>
								</span>
								<p class="promo"><b>Achetez</b></p>
								<p class="promo-description">
								<b> Visitez les offres</b> des sites marchands. Vous pouvez acheter directement 
								sur le site du marchand de votre choix, sans frais supplementaires !
								</p>
							</div>
						</div>	
					</div>
					
					<div class="col l3 m6 s10">
						<div class="row">
							<div class="center col l12 m12 s12">
								<span class="fa-stack fa-3x">
  									<i class="green-text text-lighten-3 fa fa-circle fa-stack-2x fa-inverse"></i>
  									<i class="white-text fa fa-money fa-stack-1x black-text"></i>
								</span>
								<p class="promo"><b>Economisez</b></p>
								<p class="promo-description">
								 <b>Faites le plein d'economie !</b> En comparant le prix des produits , <b>jecomparelesprix.com</b> 
								vous permet de trouver rapidement des articles et accessoires qui vous conviennent à de petits prix.
								</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		
		<div class="row section-cu dy_sfbs1 hide">
			<div class="col l12 m12 s12" style="padding-top:18px;">
				<h5 class="center"><b>150.000 produits r&eacutef&eacuterenc&eacutes pour plus de 40 sites marchands</b></h5>
				<div class="row">
					<div class="col l10 offset-l1 m10 offset-m1 s12" href="pargin-bottom:15px;">
						<ul class="tabs transparent">
        					<li class="tab col l2 pad"><a class="active" href="#test1"> 
        					<span class="orange-text text-darken-3 fa fa-star fa-lg"></span>
        					 TOP MARCHANDS</a></li>
        					<li class="tab col l2 pad"><a href="#test2">Mode & Accessoire</a></li>
        					<li class="tab col l2 pad"><a href="#test3"> <span class="fa fa-laptop fa-lg"></span> High-Tech</a></li>
        					<li class="tab col l2 pad"><a href="#test4"> <span class=""></span> Maison & jardin</a></li>
        					<li class="tab col l2 pad"><a href="#test5">Beaute</a></li>
        					<li class="tab col l2 pad"><a href="#test6"> <span class="fa fa-graduation-cap fa-lg"></span> Eduction</a></li>
      				</ul>
    				</div>
    			</div>
    			
    			<div class="row">
    				
    				<div id="test1" class="col l10 offset-l1 m10 offset-m1 s12">
    					<div class="row">
							<div class="col l2">
								<p>
									Tekcom
								</p>
							</div>
    						<div class="col l2">
    							<p>
    								Afrimarket
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Sadia
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Jumia
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Africa Shop
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Librairie de France
    							</p>
    						</div>
    						
    						<div class="col l2">
    							<p>
    								Yaatoo
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								PrixVert
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Shopping Cikdo
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Tchanga
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Sitcom
    							</p>
    						</div>

    						<div class="col l2">
    							<p>
    								<i class="material-icons">add_circle_outline</i> Voir plus
    							</p>
    						</div>
    						
    					</div>
    				</div>
    				
    				
    				<div id="test2" class="col l10 offset-l1 m10 offset-m1 s12">
    					<div class="row">
							<div class="col l2">
								<p>
									Chaussures
								</p>
							</div>
    						<div class="col l2">
    							<p>
    								Sport
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Sac et accessoires
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Montre
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Bijoux
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Lunette de Soleil
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								<i class="material-icons">add_circle_outline</i> Voir plus
    							</p>
    						</div>
    						
    					</div>
    				</div>
    				<div id="test3" class="col l10 offset-l1 m10 offset-m1 s12">
    					<div class="row">
							<div class="col l2">
								<p>
									PC Portable
								</p>
							</div>
    						<div class="col l2">
    							<p>
    								Ordinateur de bureau
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Imprimente-Scanner
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Stockage
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Telephonie
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Tablette
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Gadget
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Jeux et console
    							</p>
    						</div>

    						<div class="col l2">
    							<p>
    								<i class="material-icons">add_circle_outline</i> Voir plus
    							</p>
    						</div>
    						
    					</div>
    				</div>
    				<div id="test4" class="col l10 offset-l1 m10 offset-m1 s12">
    					<div class="row">
							<div class="col l2">
								<p>
									Cuisine
								</p>
							</div>
							<div class="col l2">
    							<p>
    								Electromenager
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Art de table
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Bricolage
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Mobilier
    							</p>
    						</div>

    						<div class="col l2">
    							<p>
    								<i class="material-icons">add_circle_outline</i> Autre
    							</p>
    						</div>
    						
    					</div>
    				</div>
    				
    				<div id="test5" class="col l10 offset-l1 m10 offset-m1 s12">
    					<div class="col l2">
    							<p>
    								Parfums
    							</p>
    					</div>
    					<div class="col l2">
    						<p>
    							Soins de corps
    						</p>
    					</div>
    					<div class="col l2">
    							<p>
    								Cheveux
    							</p>
    					</div>
    					<div class="col l2">
    						<p>
    							Maquillage
    						</p>
    					</div>

    					<div class="col l2">
    						<p>
    							Hommes
    						</p>
    					</div>
    				</div>
    				
    				<div id="test6" class="col l10 offset-l1 m10 offset-m1 s12">
    					<div class="row">
							<div class="col l2">
								<p>
									Librairie
								</p>
							</div>
    						<div class="col l2">
    							<p>
    								Maroquinerie
    							</p>
    						</div>
    						<div class="col l2">
    							<p>
    								Papeterie
    							</p>
    						</div>
    					</div>
    				</div>
    				
    			</div>	 
			</div>
		</div>
		
		
	</div>
</div>

<!-- hide -->
<div id="dyFS003" class="white section hide">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="row no-margin">
					<div class="col l5 m5 s12">
						<h5>Inscrivez-vous à notre newsletter</h5>
						<h6>Recevez nos mise à jour en nous envoyant votre adresse e-mail </h6>
					</div>
    				<div class="form-section col l7 m7 s12">
    					<form class="col l12 m12 s12 no-margin">
               <div id="dy_sf" style="margin-left: 0;">
                  <div id="dy_sfdiv" class="row" style="border:1px solid #e0e0e0;">
                     <div class="dy_sfi col l12 m12 s12 s" style="padding-right: 0;height:47px;">
                           <div class="input-field col l10 m10 s10">
                              <input id="dy_hsearch" class="autocomplete" type="text" value="" autocomplete="off" 
                              placeholder="Entrez votre e-mail ici">
                           </div>
                           <div class="input-field col l2 m2 s2">
                              <button type="button">
                                 <span class="material-icons orange-text text-darken-3">send</span>
                              </button>
                           </div>   
                     </div>
                  </div>
               </div>
            </form>  
    				</div>
    			</div>
			</div>
		</div>
	</div>
</div>
<!-- end hide -->


<div id="email-suggest" class="container hide hide-on-med-and-down">
            <div class="row">
               <div class="col l12">
                  <form class="card col l12 no-padding" method="POST">
                     <div class="card-content row" style="padding: 10px; padding-top: 0;">
                        <div class="col l12 card-title center orange white-text no-padding" 
                        style="height: 60px;">
                           Conversation
                        </div>
                        <div class="input-field col l12">
                           <span class="prefix material-icons">account_circle</span>
                           <input id="suggest-user-name" type="text" name="suggest-user-name">
                           <label for="suggest-user-name">Votre nom</label>
                        </div>
                        <div class="input-field col l12">
                           <span class="prefix material-icons">mail</span>
                           <input id="suggest-user-email" type="text" name="suggest-user-email">
                           <label for="suggest-user-email">Votre E-mail</label>
                        </div>
                        <div class="input-field col l12">
                           <span class="prefix material-icons">edit</span>
                           <textarea id="suggest-user-msg" class="materialize-textarea no-padding" name="suggest-user-msg">
                           </textarea>
                           <label for="suggest-user-msg"> Entrez votre message</label>
                        </div>   
                     </div>
                     <div class="card-action" style="padding: 10px;">
                        <button id="btn-form-send" class="btn dy_sfbs1 blue white-text z-depth-0" type="button">Envoyer</button>
                        <button id="btn-form-close" class="btn dy_sfbs1 grey lighten-4 black-text z-depth-0 right" type="button">Fermer</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>

         <div class="fixed-action-btn btn-email-suggest hide">
            <span class="btn-floating btn-large orange darken-2">
               <i class="material-icons">message</i>
            </span>
         </div>
          <div class="fixed-action-btn scroll-to-top hide">
         	<a href="#dy_header" class="btn-floating btn-large waves-effect waves-light grey lighten-1 pulse z-depth-0">
         	<i class="material-icons">expand_less</i></a>
         </div>
         	