{% extends 'AppBundle::dvoyd_layout.html.twig' %}

{% block title %}
    jecomparelesprix.com: {% trans %}titre_page_accueil{% endtrans %}.
{% endblock title %}

{% block main_container %}
   <div id="s_empty" class="scrollspy">
      {% include 'AppBundle:DvoydSearch:home_header.html.twig' %}

      {% include 'AppBundle:DvoydSearch:home.html.twig' %}
   </div>

   {{ render(controller('AppBundle:Search:mobilenav') ) }}
      <div id="const" class="cust-container no-padding no-margin hide" style="width: 100%;">
         <div class="row no-padding no-margin">

            {{ render(controller('AppBundle:Search:menu') ) }}

            <div id="main-section" class="col l80 offset-l20 m12 s12 no-padding"></div>
         </div>
      </div>
{% endblock main_container %}

{% block footer_navbar %}
  {% include 'AppBundle:DvoydSearch:footer.html.twig' %}
{% endblock footer_navbar %}