{% set francais = 'fr' %}
{% set anglais = 'en' %}


<ul id="langue" class="dropdown-content">
	<li><a href="/fr" class="black-text"> 
    	<img src="{{ asset('Public/images/icon/flag/France_flat.png') }}" class="circle" alt="drapeau français" style="height: 18px;width:18px;"/>
   Français </a></li>
   <li><a href="/en" class="black-text">
    	<img src="{{ asset('Public/images/icon/flag/United-Kingdom_flat.png') }}" class="circle" alt="drapeau anglais" style="height: 18px;width:18px;"/>
    English </a></li>
</ul>

<header id="dy_header" class="scrollspy">
   <nav id="navbar_top" class="white z-depth-0" style="border-bottom:0;">
      <div class="container" style="width: 95%;height:70px;">
         <div class="nav-wrapper">
            <div class="row" style="margin:0;height:70px;">
            	<div class="col l3 m4 s4" style="margin:0;height:70;">
	         		<div class="card no-margin no-padding z-depth-0">
						<div class="card-image">
							<a href="#!">
              			<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" 
              			xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55%" 
              			height="7.5%" viewBox="0 0 987.5 478.571" enable-background="new 0 0 987.5 478.571" xml:space="preserve">
							<polygon fill="#F36F26" points="942.41,349.166 224.084,403.594 237.42,191.005 961.026,131.005 "/>
							<polygon fill="#1072BA" points="916.425,335.912 198.101,390.345 211.435,177.755 935.039,117.755 "/>
							<text transform="matrix(0.8644 -0.0686 0.0791 0.9969 238.0259 347.7231)" fill="#FFFFFF" 
							font-family="'Myriad-Italic'" font-size="115">Les prix.com</text>
							<polygon fill="#F36F26" points="22.981,77.686 12.017,325.003 204.227,310.421 209.354,234.189 779.184,187.007 794.879,13.768 "/>
							<text transform="matrix(0.9191 -0.0842 0.0912 0.9958 39.0483 225.0415)" fill="#1072BA" 
							stroke="#1072BA" stroke-miterlimit="10" font-family="'Myriad-Italic'" font-size="135">Je compare</text>
							<text transform="matrix(1 0 0 1 20.603 450.7261)" fill="#F36F26" 
							font-family="'MVBoli'" font-size="60">Comparez et payez en un clic</text></svg>
							</a>
            		</div>
            		</div>

               </div>
               <ul class="right hide-on-small-and-down">
              		<li class="hide-on-small-and-down">
               		<a href="#!" class="dropdown-button grey-text text-lighten-1" data-position="bottom" 
                    	data-activates="langue" data-beloworigin="true">
                  		{% image 'Public/images/home_bg.jpg' %}
	            				<img src="{{ asset('Public/images/icon/flag/France_flat.png') }}" alt="home_bg" 
	            				 alt="drapeau français" style="height: 28px;width:28px;margin-top:15px;" />
	         				{% endimage %} FR
	         				<span class="material-icons" style="vertical-align: top;margin-top:15px;">arrow_drop_down</span>
	         				
                  	</a>
               	</li>
               	
               	<li class="hide">
                     <a href="#!" class="orange darken-3 waves-effect waves-light btn blue z-depth-0" style="border-radius: 75px;">
                     	s'inscrire
                     </a>
               	</li>
               	<li class="hide">
                     <a href="#!" class="blue waves-effect waves-light btn blue z-depth-0" style="border-radius: 75px;">
                     	se connecter
                     </a>
               	</li>
               </ul>   
            </div>
         </div>
      </div>
   </nav>
</header>