<ul id="mobile" class="collapsible hide-on-large-only col l3 side-nav" 
data-collapsible="expandable" style="z-index: 1; padding-bottom: 60px;padding-top: 0;">

	<li class="no-margin no-padding">
	   <div class="userView">
	      <div class="background">
	      	{% image 'Public/images/home_bg.jpg' %}
	            <img src="{{ asset_url }}" alt="home_bg"/>
	         {% endimage %}
	      </div>
	      <a href="#!user">
	      	{% image 'Public/images/logo/logo2.png' %}
	            <img class="circle" src="{{ asset_url }}" alt="dvoyd_logo"/>
	         {% endimage %}
	      </a>
	      <a href="#!name"><span class="white-text name">Dvoyd</span></a>
	      <a href="#!email"><span class="white-text email">dvoydstartup@gmail.com</span></a>
    	</div>
	</li>

		<li id="mbprice-range-section" style="margin-top: 20px;">
			<div class="collapsible-header active blue-grey lighten-5" style="border-bottom: 1px solid #e0e0e0;
			border-top: 1px solid #e0e0e0;">
				<i class="black-text material-icons">local_grocery_store</i>
				Prix 
				<i class="right material-icons">expand_more</i>
			</div>
			<div class="collapsible-body row" style="padding-left: 15px;">
				<div class="input-field col m4 s4">
					<input placeholder="Prix min" id="mbmin_price" name="mbmin_price" type="text" class="validate">
				</div>
				<div class="input-field col m4 s4">
					<input placeholder="Prix max" id="mbmax_price" name="mbmax_price" type="text" class="validate">
				</div>
				<div class="input-field col m3 s3" style="margin-top:0;margin-top:20px;">
					<button class="btn blue dy_sfbs1" type="button" id="mbprice-btn">
					   OK
					</button>
				</div>
			</div>
		</li>

		<li id="seller-checkbox-section" class="active">
      <div class="collapsible-header active blue-grey lighten-5 bordered" style="border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;">
      	<i class="black-text material-icons">local_grocery_store</i>
				Marchands 
			<i class="right material-icons">expand_more</i>
      </div>
      <div class="collapsible-body">
      	<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				 <input value="www.africa-shops.ci" type="checkbox" id="Africa-shops" class="filled-in e-cm" />
				 <label for="Africa-shops" class="black-text">Africa-shops</label>
			</p>
			
			<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="www.jumia.ci" type="checkbox" id="jumia" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}"/>
				   <label for="jumia" class="black-text">Jumia</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="www.librairiedefrance.net" type="checkbox" id="Librairie-france" 
				   class="filled-in e-cm" data-curl="{{ app.request.requesturi}}" />
				   <label for="Librairie-france" class="black-text">
				   	Librairie de france
				   </label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="privert.com" type="checkbox" id="PrixVert" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="PrixVert" class="black-text">PrixVert</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="sadia.ci" type="checkbox" id="Sadia" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="Sadia" class="black-text">Sadia</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="www.Yaatootoo.ci" type="checkbox" id="yaatoo" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="yaatoo" class="black-text">Yaatoo</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="shopping.cikdo.com" type="checkbox" id="shopping-cikdo" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="shopping-cikdo" class="black-text">Shopping Cikdo</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="afrimarket.ci" type="checkbox" id="afrimarket" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="yaatoo" class="black-text">Afrimarket</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="www.tekcom.ci" type="checkbox" id="tekcom" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="tekcom" class="black-text">Tekcom </label>
				</p>				
				
		</div>
	</li>
	</ul>