<p class="seller-checkbox" style="padding-left: 0.7rem;padding-right: 0.7rem;
	padding-top: 0;height: 37px;">
	<input value="www.Yaatoo.ci" type="checkbox" id="yaatoo" class="filled-in e-cm" 
	data-curl="{{ app.request.requesturi}}" />
	<label for="yaatoo" class="text-black" style="color: #000;">Yaatoo</label>
</p>