{% extends 'AppBundle::dvoyd_layout.html.twig' %}

{% block title %} {{ q }} - Jecomparelesprix.com : Comparateur de prix de sites e-commerce en côte d'ivoire. {% endblock title %}

{% block body %}

	{% block navbar %}
		{% include 'AppBundle:DvoydSearch:header.html.twig' %}
	{%  endblock navbar %}

	{% block body_content %}

		{{ render(controller('AppBundle:Search:mobilenav') ) }}
		<div class="cust-container no-padding no-margin" style="width: 100%;">
			<div class="row no-padding no-margin">
				{% block sidenav %}
					{{ render(controller('AppBundle:Search:menu') ) }}
				{%  endblock sidenav %}

				{% block main_container %}
					<div id="main-section" class="col l80 offset-l20 m12 s12 no-padding">
						{% include 'AppBundle:DvoydSearch:show_result.html.twig'
						with { 'q': q, 'nf' : nf , 'results' : results , 'pagination' : pagination } %}
						
						 {% include "AppBundle:DvoydSearch:footer.html.twig" %}
					</div>
				{% endblock main_container %}

			</div>
		</div>

	{% endblock body_content %}

{% endblock body %}