<div class="row" style="margin: 0; margin-bottom:15px;">
	<div class="col l12 m12 s12 no-padding">
		<div class="col l3 m3 s4">
			<span class="center"> environ <b> {{nf}} </b> r&eacutesultat(s)</span>
		</div>
		<div class="col l2 offset-l7  m2 offset-m6 s2">
		<!--
			<span id="sortout-btn" class="dropdown-button btn btn_fw dy_sfbs1 blue-grey lighten-5 black-text" 
			data-activates="sortout-item" data-beloworigin="true" data-hover="true">
				Trier par
			</span>
			<ul id="sortout-item" class='dropdown-content'>
		    	<li><a href="#">Prix</a></li>
		    	<li class="divider"></li>
		    	<li><a href="#!">Popularit&eacute</a></li>
		  	</ul>
		  	-->

		  	<span id="share-btn" class="dropdown-button btn dy_sfbs1 blue-grey lighten-5 black-text" 
		  	data-activates="share-social-network" data-beloworigin="true" data-hover="true">
				Partager
			</span>
			<script>
		  		$('#share-btn.dropdown-button').dropdown({
      			inDuration: 300,
      			outDuration: 225,
      			constrainWidth: true, 
      			hover: true, 
      			gutter: 0, 
      			belowOrigin: true, 
      			alignment: 'left', 
      			stopPropagation: false 
    			});
		  	</script>
			<ul id="share-social-network" class='dropdown-content'>
		    	<li class="fb-share-button" data-href="http://dvoyd.com/fr/search/?q=robe de soiree" 
		    	data-layout="button_count" data-size="large" data-mobile-iframe="true">
		    	<a class="fb-xfbml-parse-ignore blue-text" target="_blank" style="padding:8px;" 
		    	href="https://www.facebook.com/sharer/sharer.php?u=http://dvoyd.com/fr/search/?q=robe de soiree&amp;src=sdkpreparse">
		    	<span class="blue white-text" style="display: block;">
		    		<i class="fa fa-facebook-square fa-fw"></i> Facebook
		    	</span></a></li>
		    	
		    	<li class="divider"></li>
		    	<li><a href="https://twitter.com/share" target="_blank" style="padding:8px;" class="twitter-share-button light-blue-text 
		    	text-lighten-1" data-show-count="false">
					<span class="light-blue lighten-1 white-text" style="display: block;"> 
						<i class="fa fa-twitter-square fa-fw"></i> Twitter
					</span>	    	
		    	</a>
		    	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
		  	</ul>
		  	
		</div>
	</div>
</div>

<div class="row" style="margin: 0;">
	<div id="dy_qr" class="col m12 s12 no-padding no-margin">

		<div id="loading-section" class="col l12 m12 s6">
			<span class="text-loading"><i class="fa fa-spinner fa-spin"></i>  Chargement en cours....</span>
		</div>

		<div class="row" style="margin: 0;">
			<div class="col l12 m12 s12" style="padding-left: 0;">
			{% for result in results %}
				<div class="col dys12 dys6 l3 dyl4 m4 s6" style="padding-right: 0;margin-left:0;">
			      <div class="card sticky-action hoverable white dy_sfbs1">

			        	<div class="card-image">
			          <img src="{{result.image}}" alt="{{ result.name|capitalize}}" class="responsive-img" data-caption="{{ result.name|capitalize}}" style="height: 246px;">
			        	</div>

			        	<div class="card-content activator blue-grey lighten-5" style="display:block;position:relative;padding: 11.5px;">

				      	<a class="btn-floating right waves-effect waves-light white-text white" 
				      	style="top: -32px;">
								<i class="orange accent-3 material-icons">add</i>
							</a>

							<div class="card-title blue-text text-darken-3 truncate" title="{{ result.name|capitalize}}">
								{{ result.name|capitalize }}
							</div>

							<div class="product-seller light-blue-text text-darken-3">
								<span>
									<b>{{ result.domaine|format_name|capitalize  }}</b>
								</span>
							</div>

							<div class="product-price orange-text" style="text-align: right;">
								<span>
									{{ result.price|number_format(0, '.', '.') }} F CFA
								</span>
							</div>
						</div>

						<div class="card-reveal" style="padding-top: 10px;padding-right:10px;">

							<div class="card-title blue-text text-darken-3 truncate" title="{{ result.name|capitalize}}">
								{{ result.name|capitalize }} 
								<i class="right material-icons" style="position:relative; top: -30px;">close</i>
							</div>
							<p class="description">{{ result.description[0] }} </p>
							<div class="product-seller light-blue-text text-darken-3">
								<span>
									{{ result.domaine|format_name|capitalize  }}
								</span>
							</div>

							<div class="product-price orange-text">
								<span>
									{{ result.price|number_format(0, '.', '.') }} F CFA
								</span>
							</div>

						</div>
						<div class="card-action no-padding">
							<a href="{{ result.link }}" 
							onclick="dataLayer.push({
						     'nomProduit': '{{ result.name|capitalize }}',
						     'prixProduit': '{{ result.price|number_format(0 ,'.', '.') }} F CFA',
						     'nomVendeur': '{{ result.domaine|format_name|capitalize }}',
						     'event': 'VoirOffre-click'});" 
							target="_blink" class="center btn btn-block light-green darken-1" style="height: 45px;border-radius: 0;">
								<span>Voir l'offre</span>
								<span class="fa fa-chevron-right"></span>
							</a>
						</div>
			      </div>
			   </div>
			{% endfor %}
			</div>
		</div>		
	</div>
</div>

<div class="row" style="margin: 0;">
	<div class="col m10 offset-m1 s10">
		{{ knp_pagination_render(pagination) }}
	</div>
</div>
