<ul class="collapsible col l19 side-nav hide-on-med-and-down fixed z-depth-0 no-padding" 
data-collapsible="expandable" style="z-index: 1; padding-bottom: 60px;top: 68px;">

	<li id="price-range-section" class="active" style="margin-top: 20px;">
      <div class="collapsible-header active blue-grey lighten-5 bordered" style="border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;">
      	<i class="black-text material-icons">local_offer</i>
				Prix 
			<i class="right material-icons">expand_more</i>
      </div>
      <div class="collapsible-body row" style="padding-left: 15px;">
      	<div class="input-field col l4 s6">
				<input placeholder="Prix min" id="min_price" name="min_price" type="text" class="validate">
			</div>
			<div class="input-field col l4 s6">
				<input placeholder="Prix max" id="max_price" name="max_price" type="text" class="validate">
			</div>
			<div class="input-field col l3 s6" style="margin-top:0;margin-top:20px;">
				<button class="btn blue dy_sfbs1" type="button" id="price-btn">
					OK
				</button>
			</div>
      </div>
   </li>
    
   <li id="seller-checkbox-section">
      <div class="collapsible-header active blue-grey lighten-5 bordered" style="border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;">
      	<i class="black-text material-icons">local_grocery_store</i>
				Marchands 
			<i class="right material-icons">expand_more</i>
      </div>
      <div class="collapsible-body">
      	<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				 <input value="www.africa-shops.ci" type="checkbox" id="Africa-shops" class="filled-in e-cm" />
				 <label for="Africa-shops" class="black-text">Africa-shops</label>
			</p>
			
			<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="www.jumia.ci" type="checkbox" id="jumia" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}"/>
				   <label for="jumia" class="black-text">Jumia</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="www.librairiedefrance.net" type="checkbox" id="Librairie-france" 
				   class="filled-in e-cm" data-curl="{{ app.request.requesturi}}" />
				   <label for="Librairie-france" class="black-text">
				   	Librairie de france
				   </label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="privert.com" type="checkbox" id="PrixVert" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="PrixVert" class="black-text">PrixVert</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="sadia.ci" type="checkbox" id="Sadia" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="Sadia" class="black-text">Sadia</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="www.Yaatootoo.ci" type="checkbox" id="yaatoo" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="yaatoo" class="black-text">Yaatoo</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="shopping.cikdo.com" type="checkbox" id="shopping-cikdo" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="shopping-cikdo" class="black-text">Shopping Cikdo</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="afrimarket.ci" type="checkbox" id="afrimarket" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="yaatoo" class="black-text">Afrimarket</label>
				</p>
				<p class="seller-checkbox no-margin" style="padding-left: 0.7rem;padding-right: 0.7rem;padding-top: 0;height: 37px;">
				   <input value="www.tekcom.ci" type="checkbox" id="tekcom" class="filled-in e-cm" 
				   data-curl="{{ app.request.requesturi}}" />
				   <label for="tekcom" class="black-text">Tekcom </label>
				</p>				
				
		</div>
	</li>
</ul>



