
 <div id="critique-modal" class="modal" style="z-index: 9999;">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col l6 s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Nom</label>
              </div>
              <div class="input-field col l6 s6">
                <input id="prenom" type="text" class="validate">
                <label for="prenom">Prenom</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12 s6">
                <i class="material-icons prefix">contact_mail</i>
                <input id="icon_prefix" type="email" class="validate email">
                <label for="icon_prefix">E-mail</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12 s6">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Apportez vos critiques ici</label>
              </div>
            </div>
            <div class="row">
              <button class="btn waves-effect waves-light col l4" type="submit" name="action">Envoyer
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
    </div>
</div>
