	  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  body {
    margin: 0;
    background-color: #f5f5f5;
  }
  
  .dyS00X {
  	height: 569px;
  }
  
  .dyS00X--sec {
  	border-bottom: 1px solid #e0e0e0;
  }
  
  .dyS00X--sp
  {
  	margin-top: 150px;
  	text-align: center;
  }
  
  #email-suggest
  {
  	position: fixed; 
  	right: 50px; 
  	bottom: 80px; 
  	z-index: 999; 
  	width: 360px;
  }
  
  
  .side-nav {
    position: fixed;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 80px;
    width: 265px;
    left: 0;
    top: 0;
    bottom:80px; 
    z-index: 1; 
    border-right: 1px solid #e0e0e0;
  }

  header , header nav
  {
    height: 69px;
  }


.card .card-title {
  font-size: 18px;
  height: 40px;
}

.card .product-price , .card .product-seller {
  font-size: 18px;
}


#s_empty
{
  margin: 0;
  padding: 0;
}

 .cust-container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  
}

  span.badge {
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: #757575;
    position: relative;
    left: 0;
  }

  .input-field label 
  {
    font-size:0.8em;
  }
     
  .input-field input[type=text]:focus + label 
  {
    color: #fb8c00;
    font-size:0.8em;
  }

  .input-field input[type=text]:focus 
  {
    border-bottom: 0 solid #fff;
    box-shadow: 0 0 0 0 #000;
  }


  #email-suggest .input-field input[type=text]:focus
  {
      border-bottom: 1px solid #000; 
      box-shadow: 0 0 0 0 #000;
  } 

  .hoverable-hight {
    transition: box-shadow .25s;
    box-shadow: 0;
  }

  .hoverable-hight:hover {
    transition: box-shadow .25s;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.16);
  }

  @media only screen and (max-width: 400px) {
    .no_search_icon {
      display: none;
    }

    .s
    {
      width: 100%;
    }
  }

  #main-section
  {
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    z-index: 1;
    min-height: 500px;
  }


  .border-right
  {
    border-right: 1px solid #e0e0e0;
    height: 74.25px;
  }


  .abstract-overlay {
    position: relative;
    z-index: 9999;
    background: rgba(255,255,255,0.75);
    height: 1000px;
    will-change: opacity;
  }

  #loading-section
  {
    display: none;
    padding-bottom:20px;
  }

  .with-margin-left
  {
    margin-left: 22%;
    margin-right: 0;
  }

  .with-margin-right
  {
    margin-right: 0;
  }

  .container.with-margin-right
  {
    width: 990px;
  }

  

  #sidenav-overlay
  {
    z-index: 999;
  }

  .no-margin
  {
    margin: 0 !important;
  }

  .margin_left
  {
    margin-left: 15px;
  }

  .btn_fw
  {
    box-shadow: 0;
  }

  .bordered
  {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
  }

  #menu-btn
  {
    margin-left: 20px;
  }

  .mt10
   {
    padding-top: 5px;
   }



.form-section
  {
    height: 60px;
    border-radius: 3px;
  }

  .form-section .input-field button
  {
    border: none;
    background-color: transparent;
    text-align: center; 
    width: 100%;
  }

  .dy_sfi .input-field
  {
   	margin-top: 0;
   	height: 45px;
   	padding: 5px;
  }

  #email-suggest .input-field
  {
      padding-left: 20px;
      padding-right: 20px;
  }

  .card-reveal .description
  {
   	height: 200px;
   	overflow-y: scroll;
  }

  .categorie-img
  {
   	height: 215px;
  }

  form #search
  {
   	border-bottom: 1px solid #f57c00 ;
  }
  
  .dyS00X--bscr 
  {
   	background-attachment: scroll;
   	background-clip: border-box;
   	font-size: 12.6px;
  }
  #dyFS002
  {
   	background: rgb(246, 246, 246) url('../../../Public/images/dy_bg.png') repeat;
  }
  
  #dyFS002--rw .row
  {
   	padding-left: 25px;
   	padding-right: 25px;
  }
  
  .dyFS002--tl
  {
   	padding-top: 10px;
   	padding-bottom: 10px;	
  }
  
  .dyH001--tl , .dyH001--ln
{
  font-size: 28px;
  font-weight: 500px;
  text-align: center;
  line-height: 30px;
}

 .dyS002--tl , .dyS002--ln
{
  font-size: 28px;
  font-weight: 500px;
  line-height: 30px;
  text-align: left;
}

 .dyS002--tl 
{
  margin: 10px 0 10px 0;
}

.dyH001--ln , .dyS002--ln
{
  display: block;
}


#dyS002--rw .divider , #dyS003--rw .divider , #dyS004--rw .divider
{
   margin-bottom: 15px;
}


.dyS004--tl
{
   font-size: 25px;
}

#dy_header
  {
    height: 70px;
  }

#navbar_top
{
	height: 70px;
	background-color: #fff; 
	border-bottom: 1px solid #e0e0e0;
}

#search_input
{
	height: 45px;
	border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#search_place
{
	margin-top: 8px;
	top: 0;
	left: 0;
}

#home_content
{
  min-height: 80vh;
  padding: 130px 0 0 0;
  text-align: center;
} 

#container
{
  text-align: center;
}

#home_header
{
  margin: 0 0 10px 0;
  text-align: center;
}


#dvoyd_header_logo
{
   height: 170px;
}

#dy_hi
{
	height: 39px;
	border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;

}

#search
{
	margin-bottom: 0;
	border: 1px solid #eee;
}

.dy_des
{
	position: absolute;
	top: 120px;
	z-index: 1000;
}

.dy_rw1 , .dy_rw2
{
	margin-bottom:0;
}

.dy_f
{
	height: 59px;
	padding: 10px;
}

.dy_tl
{
	font-family: "PlayfairDisplay-black";
	font-size: 85px;
}

.dy_des_c1
{
	font-family: 'Raleway', sans-serif;
}

.dy_cl1
{
	height:124px;
	margin:0;
	text-align: center;
}

#dy_dropdown li a
{
	padding: 5px;
}

#dy_sf
{
	background-color: transparent;
	padding-top: 10px;
	font-size: 13px;
	color: rgb(34,34,34);
	background-size: auto auto;
	background-origin: padding-box;
	margin-left: 0;
}

#dy_sfdiv
{
	position: relative;
	border-radius: 2px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin: 0;
}

.dy_sfbs1
{
	box-shadow: rgba(0,0,0,0.16) 0 2px 2px 0, rgba(0,0,0,0.08) 0 0 0 1px;
}

.dy_sfbs2
{
	box-shadow: rgba(0,0,0,0.16) 0 4px 4px 0, rgba(0,0,0,0.08) 0 0 0 2px;
}

.dy_sfi
{
	padding-bottom:2px;
	padding-top:3px;
	padding-right: 0;
	margin-top: 0;	
	line-height: 45px;
	height: 45px;
	padding-right: 0;
}
.brd--blue-darken3
{
	border-bottom: 4px solid #1565c0;
	line-height: 47px;
	height: 47px;
	border-radius: 0 2px 2px 0;
}

.btnD
{
	position: relative;
	height: 45px;
	line-height: 45px;
	font-size: 14.6667px;
	color: rgb(76,76,76);
	background-color: transparent;
	outline-width: 0;
	border: none;
}

.btnD span
{
	display: inline-block;
	vertical-align: center;
}

.dy_sci
{
	color: rgb(66,133,244);
	cursor: pointer;
	display: inline-block;
	position:  relative;
	font-size: 14.6667px;
	height: 24px;
	border-bottom-width:none; 
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: 24px;
	line-height: 24px;
}

#autocomplete-input
{
	position: relative;
	margin-bottom: 0;
	border-bottom: 0; 
}

.dy_hsf
{
	margin-bottom: 0;
}

#dy_hsfr
{
	position: relative;
	margin-top: 6px;
	width: 100%;
	background-color: #f5f5f5; 
}

#dy_search, #dy_hsearch, #dy_search:hover, #dy_hsearch:hover,
 #dy_search:focus, #dy_hsearch:focus , #dy_search:active, #dy_hsearch:active
{
	color: #000;
	border-bottom-width: none;
	border-bottom-style: none;
	border-bottom: none;
	border: none;
}

#dy_hsearch
{
	margin-bottom: 0;
	height: 40px;
	font-size: 25px;
}


.dy_nvfxtp
{
	position: fixed;
	top: 0;
	z-index: 9999;
}

.dy_nav
{
	height: 100%;
}

.nopadding
{
	padding: 0;
}

.nomargin
{
	margin: 0;
}

#price .badge
{
	font-size: 25px;
}

.domaine .dom_name
{
	font-size: 20px;
}

.name
{
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	text-overflow: ellipsis;
	overflow: hidden;
	overflow-x: auto;
	overflow-y: hidden;
	height: 28px;
	white-space: nowrap;
	font-size: 19px;
}

.border-left
{
	border-left: 1px solid #f5f5f5;
}
.border-right
{
	border-right: 1px solid #f5f5f5;
}

#banner
{
	height: 40px;
}

.page-footer ul , .footer-copyright ul
{
	margin: 0;
	padding-top: 7px;
}

.page-footer ul li , .footer-copyright ul li
{	
	display: inline-block;
	padding-right: 5px;
	padding-left: 10px;
}

#footer ul a, .footer-copyright ul a
{
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 8px;
  cursor: pointer;
}

.brand-logo
{
	font-family: 'Lobster Two', cursive;
}

.card-reveal p
{
	margin-bottom: 5px;
	margin-top: 0;
}

.card-reveal .btn-floating
{
	position: relative;
	top: -50px;
	z-index: 999;
}

#product-price-container .price , #product-seller-container .seller
{
	font-size: 19.15px;
}

#price-btn , #mbprice-btn
{
	position: relative;
	padding: 0;
	width: 100%;
}

#product-name-container
{
	font-size: 18px;
}

#filter .collapsible-header, #filte .collapsible-body
{
	border: 1px solid rgb(221,221,221);
}

#filte .collapsible-body
{
	color: rgb(0,0,0,0.87);
}

#filte .collapsible-body p
{
	color: rgb(0,0,0,0.71);
}

#dy_qr .card-panel p
{
	margin-top: 0;
	margin-bottom: 10px;
}

#dy_qr
{
	margin-left: 15px;
}

.action-view
{
	width:100%;
	color: #7cb342;
	border-radius:0;
	border: 2px solid #7cb342;
	background-color: #fff;
}

.action-view:hover
{
	background-color: #7cb342;
	color: #fff;
}

.light-grey-border
{
	border: 1px solid #e0e0e0;
}

.page-footer .footer-copyright
{
	min-height: 80px;
}

.page-footer {
  background-color: rgb(41,51,57);
}

.page-footer .footer-copyright {
  background-color: rgb(55,69,77);
}

.page-footer .btn, .page-footer .btn-large,
.page-footer .btn-flat , .btn-flat , #navbar_top .btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 1rem;
  text-transform: capitalize;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.promo
{
	font-size: 1.3rem;
}

.section-cu
{
	background-color: #eee;
}


.tabs .tab a {
  width: 95%;
  padding: 0 15px;
  background-color: #bdbdbd;
  font-size: 11.3333px;
  color: rgb(150, 101,101);
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: #fff;
  border: 1px solid #e0e0e0; 
  border-bottom: 4px solid #e65100;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(238, 110, 115, 0.7);
  cursor: default;
}

.tabs .indicator {
  height: 4px;
  background-color: #e65100;
}

#dyFS003
{
	border-top: 4px solid #e65100;	
}

.promo-cadre
{
	border: 1px solid #e0e0e0;
	background-color: #fff;
	height: 65px;
	line-height: 65px;	
}

#test1 p , #test2 p, #test3 p, #test4 p, #test5 p, #test6 p
{
	border: 1px solid #e0e0e0;
	background-color: #fff;
	text-align: center;	
	height: 80px;
	line-height: 80px;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 1.09rem;
}