#dy_header
  {
    height: 70px;
  }

#navbar_top
{
	height: 70px;
	background-color: #fff; 
	border-bottom: 1px solid #e0e0e0;
}

#search_input
{
	height: 45px;
	border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#search_place
{
	margin-top: 8px;
	top: 0;
	left: 0;
}

#home_content
{
  min-height: 80vh;
  padding: 130px 0 0 0;
  text-align: center;
} 

#container
{
  text-align: center;
}

#home_header
{
  margin: 0 0 10px 0;
  text-align: center;
}


#dvoyd_header_logo
{
   height: 170px;
}

#dy_hi
{
	height: 39px;
	border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;

}

#search
{
	margin-bottom: 0;
	border: 1px solid #eee;
}

.dy_des
{
	position: absolute;
	top: 120px;
	z-index: 1000;
}

.dy_rw1 , .dy_rw2
{
	margin-bottom:0;
}

.dy_f
{
	height: 59px;
	padding: 10px;
}

.dy_tl
{
	font-family: "PlayfairDisplay-black";
	font-size: 85px;
}

.dy_des_c1
{
	font-family: 'Raleway', sans-serif;
}

.dy_cl1
{
	height:124px;
	margin:0;
	text-align: center;
}

#dy_dropdown li a
{
	padding: 5px;
}

#dy_sf
{
	background-color: transparent;
	padding-top: 10px;
	font-size: 13px;
	color: rgb(34,34,34);
	background-size: auto auto;
	background-origin: padding-box;
	margin-left: 0;
}

#dy_sfdiv
{
	position: relative;
	border-radius: 2px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin: 0;
}

.dy_sfbs1
{
	box-shadow: rgba(0,0,0,0.16) 0 2px 2px 0, rgba(0,0,0,0.08) 0 0 0 1px;
}

.dy_sfbs2
{
	box-shadow: rgba(0,0,0,0.16) 0 4px 4px 0, rgba(0,0,0,0.08) 0 0 0 2px;
}

.dy_sfi
{
	padding-bottom:2px;
	padding-top:3px;
	padding-right: 0;
	margin-top: 0;	
	line-height: 45px;
	height: 45px;
	padding-right: 0;
}
.brd--blue-darken3
{
	border-bottom: 4px solid #1565c0;
	line-height: 47px;
	height: 47px;
	border-radius: 0 2px 2px 0;
}

.btnD
{
	position: relative;
	height: 45px;
	line-height: 45px;
	font-size: 14.6667px;
	color: rgb(76,76,76);
	background-color: transparent;
	outline-width: 0;
	border: none;
}

.btnD span
{
	display: inline-block;
	vertical-align: center;
}

.dy_sci
{
	color: rgb(66,133,244);
	cursor: pointer;
	display: inline-block;
	position:  relative;
	font-size: 14.6667px;
	height: 24px;
	border-bottom-width:none; 
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: 24px;
	line-height: 24px;
}

#autocomplete-input
{
	position: relative;
	margin-bottom: 0;
	border-bottom: 0; 
}

.dy_hsf
{
	margin-bottom: 0;
}

#dy_hsfr
{
	position: relative;
	margin-top: 6px;
	width: 100%;
	background-color: #f5f5f5; 
}

#dy_search, #dy_hsearch, #dy_search:hover, #dy_hsearch:hover,
 #dy_search:focus, #dy_hsearch:focus , #dy_search:active, #dy_hsearch:active
{
	color: #000;
	border-bottom-width: none;
	border-bottom-style: none;
	border-bottom: none;
	border: none;
}

#dy_hsearch
{
	margin-bottom: 0;
	height: 40px;
	font-size: 25px;
}


.dy_nvfxtp
{
	position: fixed;
	top: 0;
	z-index: 9999;
}

.dy_nav
{
	height: 100%;
}

.nopadding
{
	padding: 0;
}

.nomargin
{
	margin: 0;
}

#price .badge
{
	font-size: 25px;
}

.domaine .dom_name
{
	font-size: 20px;
}

.name
{
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	text-overflow: ellipsis;
	overflow: hidden;
	overflow-x: auto;
	overflow-y: hidden;
	height: 28px;
	white-space: nowrap;
	font-size: 19px;
}

.border-left
{
	border-left: 1px solid #f5f5f5;
}
.border-right
{
	border-right: 1px solid #f5f5f5;
}

#banner, .footer
{
	height: 40px;
}

#footer ul 
{
	margin: 0;
	padding-top: 7px;
}

#footer ul li
{	
	display: inline-block;
	padding-right: 5px;
	padding-left: 10px;
}

#footer ul a
{
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 8px;
  cursor: pointer;
}

.brand-logo
{
	font-family: 'Lobster Two', cursive;
}

.card-reveal p
{
	margin-bottom: 5px;
	margin-top: 0;
}

.card-reveal .btn-floating
{
	position: relative;
	top: -50px;
	z-index: 999;
}

#product-price-container .price , #product-seller-container .seller
{
	font-size: 19.15px;
}

#price-btn , #mbprice-btn
{
	position: relative;
	padding: 0;
	width: 100%;
}

#product-name-container
{
	font-size: 18px;
}

#filter .collapsible-header, #filte .collapsible-body
{
	border: 1px solid rgb(221,221,221);
}

#filte .collapsible-body
{
	color: rgb(0,0,0,0.87);
}

#filte .collapsible-body p
{
	color: rgb(0,0,0,0.71);
}

#dy_qr .card-panel p
{
	margin-top: 0;
	margin-bottom: 10px;
}

#dy_qr
{
	margin-left: 15px;
}

.action-view
{
	width:100%;
	color: #7cb342;
	border-radius:0;
	border: 2px solid #7cb342;
	background-color: #fff;
}

.action-view:hover
{
	background-color: #7cb342;
	color: #fff;
}

