  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  body {
    margin: 0;
    background-color: #f5f5f5;
  }
  
  .dyS00X {
  	height: 569px;
  }
  
  .dyS00X--sec {
  	border-bottom: 1px solid #e0e0e0;
  }
  
  .dyS00X--sp
  {
  	margin-top: 150px;
  	text-align: center;
  }
  
  #email-suggest
  {
  	position: fixed; 
  	right: 50px; 
  	bottom: 80px; 
  	z-index: 999; 
  	width: 360px;
  }
  
  
  
  
  .side-nav {
    position: fixed;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 80px;
    width: 265px;
    left: 0;
    top: 0;
    bottom:80px; 
    z-index: 1; 
    border-right: 1px solid #e0e0e0;
  }

  header , header nav
  {
    height: 69px;
  }



  /*************
  *footer
  **************/
  footer.page-footer {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
  }

  footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
  }

.card .card-title {
  font-size: 18px;
  height: 40px;
}

.card .product-price , .card .product-seller {
  font-size: 18px;
}


#s_empty
{
  margin: 0;
  padding: 0;
}

 .cust-container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  
}

  footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #fb8c00;
  }

  span.badge {
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: #757575;
    position: relative;
    left: 0;
  }

  .input-field label 
  {
    font-size:0.8em;
  }
     
  .input-field input[type=text]:focus + label 
  {
    color: #fb8c00;
    font-size:0.8em;
  }

  .input-field input[type=text]:focus 
  {
    border-bottom: 0 solid #fff;
    box-shadow: 0 0 0 0 #000;
  }

  #email-suggest .input-field input[type=text]:focus
  {
      border-bottom: 1px solid #000; 
      box-shadow: 0 0 0 0 #000;
  } 

  .hoverable-hight {
    transition: box-shadow .25s;
    box-shadow: 0;
  }

  .hoverable-hight:hover {
    transition: box-shadow .25s;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.16);
  }

  @media only screen and (max-width: 400px) {
    .no_search_icon {
      display: none;
    }

    .s
    {
      width: 100%;
    }
  }

  #main-section
  {
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    z-index: 1;
    min-height: 500px;
  }


  .border-right
  {
    border-right: 1px solid #e0e0e0;
    height: 74.25px;
  }


  .abstract-overlay {
    position: relative;
    z-index: 9999;
    background: rgba(255,255,255,0.75);
    height: 1000px;
    will-change: opacity;
  }

  #loading-section
  {
    display: none;
    padding-bottom:20px;
  }

  .with-margin-left
  {
    margin-left: 22%;
    margin-right: 0;
  }

  .with-margin-right
  {
    margin-right: 0;
  }

  .container.with-margin-right
  {
    width: 990px;
  }

  

  #sidenav-overlay
  {
    z-index: 999;
  }

  .no-margin
  {
    margin: 0 !important;
  }

  .margin_left
  {
    margin-left: 15px;
  }

  .btn_fw
  {
    box-shadow: 0;
  }

  .bordered
  {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
  }

  #menu-btn
  {
    margin-left: 20px;
  }

  .mt10
   {
    padding-top: 5px;
   }



.form-section
  {
    height: 60px;
    border-radius: 3px;
  }

  .form-section .input-field button
  {
    border: none;
    background-color: transparent;
    text-align: center; 
    width: 100%;
  }

  .dy_sfi .input-field
  {
   	margin-top: 0;
   	height: 45px;
   	padding: 5px;
  }

  #email-suggest .input-field
  {
      padding-left: 20px;
      padding-right: 20px;
  }

  .card-reveal .description
  {
   	height: 200px;
   	overflow-y: scroll;
  }

  .categorie-img
  {
   	height: 215px;
  }

  form #search
  {
   	border-bottom: 1px solid #f57c00 ;
  }
  
  .dyS00X--bscr 
  {
   	background-attachment: scroll;
   	background-clip: border-box;
   	font-size: 12.6px;
  }
  #dyFS002
  {
   	background: rgb(246, 246, 246) url('../../../Public/images/dy_bg.png') repeat;
  }
  
  #dyFS002--rw .row
  {
   	padding-left: 25px;
   	padding-right: 25px;
  }
  
  .dyFS002--tl
  {
   	padding-top: 10px;
   	padding-bottom: 10px;	
  }
  
  .dyH001--tl , .dyH001--ln
{
  font-size: 28px;
  font-weight: 500px;
  text-align: center;
  line-height: 30px;
}

 .dyS002--tl , .dyS002--ln
{
  font-size: 28px;
  font-weight: 500px;
  line-height: 30px;
  text-align: left;
}

 .dyS002--tl 
{
  margin: 10px 0 10px 0;
}

.dyH001--ln , .dyS002--ln
{
  display: block;
}


#dyS002--rw .divider , #dyS003--rw .divider , #dyS004--rw .divider
{
   margin-bottom: 15px;
}


.dyS004--tl
{
   font-size: 25px;
}