@media only screen and (max-width: 992px) {
    #main-section
    {
      margin-left: 0;
      width: 100%;
    }
  }

  
  @media only screen and (max-width: 600px){
   #btn-dym-close
   {
      padding-top: 20px;
   }
  }
  
  @media screen and (max-width: 993px) {
    .row .margin_left
    {
      margin-left: 0;
    }

    #main-section
    {
      padding-left: 0;
      padding-right: 0;
    }

    .row .margin_right
    {
      margin-right: 0;
    }

    #dy_qr
    {
      margin-left: 0;
      margin-right: 0;
    }

    #navbar_title
    {
      margin-left: 15px;
    }
  }

@media only screen and (max-width: 600px) {
  #dy_sf
  {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 993px) {

  .row .col.l80 {
    	width: 80.5%;
    	margin-left: auto;
    	left: auto;
    	right: auto;
  }

  .row .col.offset-l20 {
    	margin-left: 19.5%;
  }

  .cust-container
   {
      min-width: 1349px; 
   }
  
}


.row .col.dys12 , .row .col.dys6 , .row .col.dyl4
 {
  margin-left: auto;
  left: auto;
  right: auto;
}


@media only screen and (max-width: 420px) {
  .row .col.dys12
  {
    width: 100%;
  }
}

@media only screen and (min-width: 421px) and (max-width: 650px) {
  .row .col.dys6
  {
    width: 50%;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1313px) {
  .row .col.dyl4
  {
    width: 33.3333333%;
  }
}


